* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  transition: var(--main-transition);
}
:root {
  --clr-secondary: #888888;
  --clr-bg-light1-gray: #f6f6f6;
  --clr-bg-light2-gray: #eeeeee;
  --clr-main-blue: #0075ff;
  --clr-bg-light-blue: #f0f4f9;
  --clr-main-orange: #f59e0b;
  --clr-main-red: #f44336;
  --clr-main-green: #22c55e;
  --main-transition: 0.3s;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--clr-main-blue);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-alt-blue);
}
.box {
  width: 100%;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  padding: 20px;
}
.title {
  font-size: 16px;
  font-weight: 500;
}
.description {
  font-size: 14px;
  color: var(--clr-secondary);
  margin: 10px 0px;
  font-weight: 500;
  line-height: 1.6;
}
.details {
  padding: 3px 8px;
  background-color: var(--clr-bg-light2-gray);
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  margin-left: 5px;
}
/* END GLOBAL RULES */
/* start sidebar*/
.page {
  display: flex;
}
.page .sidebar {
  width: 200px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  position: relative;
  z-index: 10;
}
.sidebar h3 {
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: bold;
  position: relative;
}
.sidebar h3::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 1.5px;
  background-color: black;
}
.sidebar h3::after {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -9px);
  background-color: black;
  border: solid white 4px;
  border-radius: 50%;
}
.sidebar .navbar a {
  display: block;
  padding: 10px;
  text-align: left;
  color: black;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
  transition: var(--main-transition);
}
.sidebar .navbar a:hover {
  transition: var(--main-transition);
  background-color: var(--clr-bg-light1-gray);
}
.sidebar .navbar a i {
  margin-right: 10px;
}
.sidebar .navbar .active {
  background-color: var(--clr-bg-light1-gray);
}
@media only screen and (max-width: 768px) {
  .page .sidebar {
    width: 58px;
    padding: 10px;
  }
  .sidebar h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .sidebar .navbar a span {
    display: none;
  }
  .sidebar h3::before,
  .sidebar h3::after {
    display: none;
  }
  .sidebar .navbar a i {
    margin-right: 0px auto;
  }
}
/* end sidebar */
/* start content */
.page .content {
  flex: 1;
  background-color: var(--clr-bg-light-blue);
  overflow: hidden;
}
/* start header */
.content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: white;
}
.content .header .search input {
  padding: 10px 10px 10px 30px;
  border-radius: 10px;
  border: solid 1px var(--clr-bg-light3-gray);
  outline: none;
  width: 160px;
  position: relative;
  caret-color: var(--clr-secondary);
  transition: width 0.3s;
  font-size: 13px;
}
.content .header .search {
  position: relative;
}
.content .header .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  font-size: 14px;
  color: var(--clr-secondary);
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.content .header .search input:focus {
  width: 200px;
}
.content .header .search input:focus::placeholder {
  opacity: 0;
}
.content .header .icons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.content .header img {
  max-width: 100%;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.content .header .icons .notification {
  position: relative;
  cursor: pointer;
}
.content .header .icons .notification::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -5px;
  height: 10px;
  width: 10px;
  background-color: var(--clr-main-red);
  border-radius: 50%;
}
/* end header */
/* start main */
.content .main {
  padding: 20px;
}
.content .main h1 {
  display: block;
  font-size: 32px;
  margin-bottom: 40px;
  position: relative;
}
.content .main h1::before,
.content .main h1::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
}
.content .main h1::before {
  width: 120px;
  background-color: white;
}
.content .main h1::after {
  width: 40px;
  background-color: black;
}
/* start category */
.main .projects-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
.main .projects-info .box {
  position: relative;
}
.projects-info .box .team {
  display: flex;
  align-items: flex-end;
  min-height: 80px;
}
.projects-info .box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  padding: 2px;
  cursor: pointer;
}
.projects-info .box img:hover {
  z-index: 100;
}
.projects-info .box .team img:not(:first-child) {
  margin-left: -15px;
}
.projects-info .box .price,
.projects-info .box .domain {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-top: 15px;
  border-top: solid 1px var(--clr-bg-light2-gray);
}
.projects-info .box .domain {
  justify-content: flex-end;
}
.projects-info .box .price {
  justify-content: space-between;
}
.projects-info .box .price span {
  color: var(--clr-secondary);
  font-size: 14px;
}
.projects-info .box .date {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 13px;
  color: var(--clr-secondary);
}
.projects-info .box .price .dollar {
  font-weight: bold;
}
.projects-info .box .price .prog-holder {
  height: 6px;
  width: 260px;
  background-color: var(--clr-bg-light2-gray);
  border-radius: 6px;
  position: relative;
}
.projects-info .box .price .prog-holder .prog {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 6px;
}
.projects-info .box .price .prog-holder #red {
  background-color: var(--clr-main-red);
}
.projects-info .box .price .prog-holder #green {
  background-color: var(--clr-main-green);
}
.projects-info .box .price .prog-holder #blue {
  background-color: var(--clr-main-blue);
}
@media (max-width: 576px) {
  .main .projects-info {
    grid-template-columns: minmax(250px, 1fr);
  }
  .box {
    padding-top: 30px;
  }
  .projects-info .box .price {
    flex-direction: column;
    gap: 10px;
  }
  .projects-info .box .price .prog-holder {
    width: 160px;
  }
}
@media (max-width: 768px) {
  .projects-info .box {
    text-align: center;
  }
  .projects-info .box .team {
    justify-content: center;
  }
  .projects-info .box .domain {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
/* end category */
